# Dependencies
node_modules/
workers/api/node_modules/

# Cloudflare & Build Output
.wrangler/
dist/
build/
.mf/

# Environment Variables
.env
.env.local
.env.*.local
.env.example
.eve.*

# Vercel & Vite caches
.vercel/
.vite/
.vercel
