# Dependencies
node_modules/
workers/api/node_modules/

# Cloudflare & Build Output
.wrangler/
dist/
build/
.mf/

# Environment Variables
.env
.env.local
.env.*.local
.env.example
.eve.*
.dev.vars
.dev.vars.*
workers/api/.dev.vars
workers/api/.dev.vars.*


# Vercel & Vite caches
.vercel/
.vite/
.vercel

# Archives & Temporary Packages
*.rar
*.zip
*.7z
*.tar.gz
*.tar

